body {
  background-color: #fdfdfd;
}

h1, h2, a {
 color: #317EAC;
}
h1, h2, h3, h4 {
 font-weight: normal;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  border: none;
  border-top: 1px solid #ccc;
}

@sidebar-width: 275px;

#sidebar {
  position: fixed;
  width: @sidebar-width;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 20px #ccc;

  h1 {
    margin-bottom: 20px;
    margin-left: 20px;

    a {
      display: inline-block;
      text-decoration: none;
      font-size: 34px;
      line-height: 40px;
      text-shadow: #1A3A4D 0 1px 0;
    }
    i {
      display: inline-block;
      width: 16px;
      height: 30px;
      margin-left: 2px;
      background-image: url(images/icon.png);
      background-repeat: no-repeat;
    }
  }
  nav {
    color: #333;
    padding-bottom: 20px;

    hr {
      margin: 0 20px;
      margin-bottom: 20px;
    }
    .module-heading {
      display: block;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 5px;
      font-weight: bold;
      color: #333;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-left: 20px;

      li:before {
        content: "-";
        display: block;
        float: left;
      }
      li {
        a {
          color: #333;
          display: block;
          float: left;
          padding-top: 2px;
          text-indent: 4px;
          width: 232px;
        }
      }
      li:first-child a {
        padding-top: 0;
      }
      li:after {
       content: '';
       display: table;
       clear: both;
      }
    }
    .mini-action-buttons {
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    input {
      border: 1px solid #ccc;
      padding: 3px 6px;
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }
}

#content {
  margin-left: @sidebar-width;
  padding: 20px;
  padding-top: 10px;
  position: absolute;
  top: 0;
  max-width: 900px;
  font-size: 16px;

  h1, h2, h3 {
    margin-bottom: 0px;
  }

  #overview {
    .prettyprint {
      padding: 15px;
    }
  }

  .intro {
    list-style-type: none;
    padding: 0;
    padding-top: 18px;
  }

  .major-actions {
    overflow: auto;
    h3, a, iframe {
      display: block;
      float: left;
      margin-right: 10px;
    }
    h3 {
      color: #111;
      float: left;
      margin-right: 5px;
      margin-top: 5px;
      font-weight: bold;
    }
    a {
      padding: 5px 10px;
      border: 1px solid #ccc;
    }
    a:hover {
      text-decoration: none;
      background-color: #f9f9f9;
      box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.2);
    }
    a.primary {
      color: #fff;
      background-color: #2DBB73;
      border: 1px solid #2DBB73;
    }
    a.primary:hover {
      background-color: #31CC7D;
    }
  }

  .section {
    margin-bottom: 20px;
  }

  #curried-functions {
    padding-left: 5px;
    border-left: 5px solid #ccc;
  }

  .module-heading {
    display: block;
    padding: 10px 20px;
    font-size: 24px;
    background-color: #317EAC;
    color: #fff;
    margin-top: 30px;

    &:hover {
      text-decoration: none;
      cursor: default;
    }
  }
  .func {
    margin-top: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(50, 50, 50, 0.1);

    .func-name {
      display: block;
      margin: 0;
      padding: 20px;
      padding-bottom: 10px;
      font-size: 24px;

      &:hover {
        text-decoration: none;
        cursor: default;
      }
    }
    .alias {
      padding: 0 20px;
      font-style: italic;
      float: right;
      margin-top: -32px;
      color: #666;
    }
    .func-type {
      padding: 0 20px;
      padding-bottom: 5px;
      color: #666;
    }
    p {
      padding: 0 20px;
    }
    .example {
      margin: 0;
      margin-top: 10px;
      border: none;
      border-top: 1px solid #ddd;
      overflow: auto;
    }
  }
  .prettyprint {
    background-color: #f8f8f9;
    border: 1px solid #ddd;
    padding: 20px;
  }
  p, ul {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 32px;
  }
  code {
    font-size: 15px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 3px 5px;
    white-space: nowrap;
  }
  ul li {
    margin-bottom: 10px;
    line-height: 32px;
  }
  table {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
