body {
  background-color: #fdfdfd;
}
h1,
h2,
a {
  color: #317EAC;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  border: none;
  border-top: 1px solid #ccc;
}
#sidebar {
  position: fixed;
  width: 275px;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 20px #ccc;
}
#sidebar h1 {
  margin-bottom: 20px;
  margin-left: 20px;
}
#sidebar h1 a {
  display: inline-block;
  text-decoration: none;
  font-size: 34px;
  line-height: 40px;
  text-shadow: #1A3A4D 0 1px 0;
}
#sidebar h1 i {
  display: inline-block;
  width: 16px;
  height: 30px;
  margin-left: 2px;
  background-image: url(images/icon.png);
  background-repeat: no-repeat;
}
#sidebar nav {
  color: #333;
  padding-bottom: 20px;
}
#sidebar nav hr {
  margin: 0 20px;
  margin-bottom: 20px;
}
#sidebar nav .module-heading {
  display: block;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: bold;
  color: #333;
}
#sidebar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}
#sidebar nav ul li:before {
  content: "-";
  display: block;
  float: left;
}
#sidebar nav ul li a {
  color: #333;
  display: block;
  float: left;
  padding-top: 2px;
  text-indent: 4px;
  width: 232px;
}
#sidebar nav ul li:first-child a {
  padding-top: 0;
}
#sidebar nav ul li:after {
  content: '';
  display: table;
  clear: both;
}
#sidebar nav .mini-action-buttons {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}
#sidebar nav input {
  border: 1px solid #ccc;
  padding: 3px 6px;
  margin-left: 20px;
  margin-bottom: 20px;
}
#content {
  margin-left: 275px;
  padding: 20px;
  padding-top: 10px;
  position: absolute;
  top: 0;
  max-width: 900px;
  font-size: 16px;
}
#content h1,
#content h2,
#content h3 {
  margin-bottom: 0px;
}
#content #overview .prettyprint {
  padding: 15px;
}
#content .intro {
  list-style-type: none;
  padding: 0;
  padding-top: 18px;
}
#content .major-actions {
  overflow: auto;
}
#content .major-actions h3,
#content .major-actions a,
#content .major-actions iframe {
  display: block;
  float: left;
  margin-right: 10px;
}
#content .major-actions h3 {
  color: #111;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  font-weight: bold;
}
#content .major-actions a {
  padding: 5px 10px;
  border: 1px solid #ccc;
}
#content .major-actions a:hover {
  text-decoration: none;
  background-color: #f9f9f9;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.2);
}
#content .major-actions a.primary {
  color: #fff;
  background-color: #2DBB73;
  border: 1px solid #2DBB73;
}
#content .major-actions a.primary:hover {
  background-color: #31CC7D;
}
#content .section {
  margin-bottom: 20px;
}
#content #curried-functions {
  padding-left: 7px;
  border-left: 5px solid #ccc;
}
#content .module-heading {
  display: block;
  padding: 10px 20px;
  font-size: 24px;
  background-color: #317EAC;
  color: #fff;
  margin-top: 30px;
}
#content .module-heading:hover {
  text-decoration: none;
  cursor: default;
}
#content .func {
  margin-top: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(50, 50, 50, 0.1);
}
#content .func .func-name {
  display: block;
  margin: 0;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 24px;
}
#content .func .func-name:hover {
  text-decoration: none;
  cursor: default;
}
#content .func .alias {
  padding: 0 20px;
  font-style: italic;
  float: right;
  margin-top: -32px;
  color: #666;
}
#content .func .func-type {
  padding: 0 20px;
  padding-bottom: 5px;
  color: #666;
}
#content .func p {
  padding: 0 20px;
}
#content .func .example {
  margin: 0;
  margin-top: 10px;
  border: none;
  border-top: 1px solid #ddd;
  overflow: auto;
}
#content .prettyprint {
  background-color: #f8f8f9;
  border: 1px solid #ddd;
  padding: 20px;
}
#content p,
#content ul {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 32px;
}
#content code {
  font-size: 15px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 3px 5px;
  white-space: nowrap;
}
#content ul li {
  margin-bottom: 10px;
  line-height: 32px;
}
#content table {
  margin-top: 5px;
  margin-bottom: 5px;
}
@media (max-width: 900px) {
  #sidebar {
    position: static;
    display: block;
    width: 100%;
    overflow: hidden;
  }
  #sidebar nav {
    display: none;
  }
  #content {
    margin-left: 0;
    position: static;
  }
}
